/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

select {
    height: 40px;
}

button[type="button"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

button[type="button"]:hover {
    background-color: #3e8e41;
}

/* Стили для специфических элементов */
#hotel-name,
#country,
#city,
#address,
#phone,
#full-name,
#passport,
#phone-number,
#email {
    text-transform: capitalize;
}

input[type="tel"] {
    /* Добавление маски для ввода телефона */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="tel"]:focus {
    box-shadow: 0 0 3px #4CAF50;
}

input[type="email"] {
    /* Добавление иконки для ввода email */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="email"]:focus {
    box-shadow: 0 0 3px #4CAF50;
}

#total-price {
    font-weight: bold;
}

/* Медиа запрос для адападаптивного дизайна: */

@media (max-width: 767px) {
    /* Стили для мобильных устройств */
    form {
        padding: 10px;
    }

    input[type="tel"],
    input[type="email"] {
        width: calc(100% - 50px);
    }

    input[type="tel"],
    input[type="email"],
    input[type="text"],
    input[type="number"],
    input[type="date"],
    select,
    textarea {
        font-size: 14px;
    }

    button[type="button"] {
        padding: 8px 16px;
        font-size: 14px;
    }
}
